<?xml version="1.0" encoding="utf-8"?>
<log4net debug="true" xmlns="urn:log4net">
  <!-- ========== SQL SERVER DB APPENDER ========== -->
  <appender name="SqlServerAdoAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <reconnectOnError value="true" />
    <!--<connectionType value="System.Data.SqlClient.SqlConnection, System.Data.SqlClient" />-->
    <connectionType value="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient" />
    <connectionString value="Data Source=LENOVOX1-NIKOLA;Initial Catalog=AlfrescoMigration;Integrated Security=False;User ID=pera;Password=pera;Trust Server Certificate=True" />
    <commandText value="       INSERT INTO AlfrescoMigration_Logger         (LOG_DATE, LOG_LEVEL, LOGGER, MESSAGE, EXCEPTION,          WORKERID, BATCHID, DOCUMENTID, USERID, HOSTNAME, THREADID, APPINSTANCE)       VALUES         (@log_date, @log_level, @logger, @message, @exception,          @workerId, @batchId, @documentId, @userId, @hostName, @threadId, @appInstance)" />
    <!-- standard polja -->
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="string" />
      <size value="255" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@workerId" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{WorkerId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@batchId" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{BatchId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@documentId" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{DocumentId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@userId" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{UserId}" />
      </layout>
    </parameter>
    <!-- automatska polja -->
    <parameter>
      <parameterName value="@hostName" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@threadId" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <!-- globalno polje (setuješ preko GlobalContext.Properties) -->
    <parameter>
      <parameterName value="@appInstance" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{AppInstance}" />
      </layout>
    </parameter>
  </appender>
  <!-- ========== ROLLING FILE APPENDER ========== -->
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs\app.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="'.'yyyy-MM-dd'.log'" />
    <staticLogFileName value="false" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <!-- kompletan format u fajlu -->
      <conversionPattern value="[%date{yyyy-MM-dd HH:mm:ss.fff}] [%-5level] [%property{AppInstance}] [Host=%property{log4net:HostName}] [Thr=%thread] [WorkerId=%property{WorkerId}] [BatchId=%property{BatchId}] [DocId=%property{DocumentId}] %logger - %message%newline%exception" />
    </layout>
  </appender>
  <!-- ========== NAMED LOGGERS ========== -->
  <!-- samo u bazu -->
  <logger name="DbLogger" additivity="false">
    <level value="Info" />
    <appender-ref ref="SqlServerAdoAppender" />
  </logger>
  <!-- samo u fajl -->
  <logger name="FileLogger" additivity="false">
    <level value="Debug" />
    <appender-ref ref="RollingFileAppender" />
  </logger>
  <!-- za UI monitoring - loguje u fajl (ali NE u bazu, da izbegneš overhead) -->
  <logger name="UiLogger" additivity="false">
    <level value="Info" />
    <appender-ref ref="RollingFileAppender" />
  </logger>
  <!-- root (opciono: globalni warn+ ako koristiš ILogger<T>) -->
  <root>
    <level value="Warn" />
  </root>
</log4net>